body {
    padding-top: 0px;
}

.cv-img-container {
    /*background-image: url("../images/backgrounds/cv-background.jpg");
    background-size: cover;
    background-position: center;*/
}

.cv-box {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

.cv-box h4 {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
}

.cv-box h5 {
    text-decoration: none;
    text-transform: none;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: left;
    color: #00796B;
}

@media (min-width : 768px) {

    .cv-box h4 {
        text-align: right;
    }
}

.cv-box p,
.cv-box a {
    font-size: 14px;
}

.cv-chart-container {
    display: table;
    width: 100%;
}

.cv-chart {
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.cv-hr {
    height: 1px;
    width: 95%;
    background-color: rgba(0, 121, 107 ,0.5); 
}

.cv-date {
    text-transform: uppercase;
}

.cv-date strong {
    color: rgb(255,255,255);
    padding: 5px;
    font-weight: 400;
    text-transform: none;
    background-color: #00796B;
}

.cv-note {
    font-size: 10px;
    font-style: italic;
}

.cv-chart-info {
    text-align: center;
    font-variant: small-caps;
    padding-bottom: 30px;
}

