/* CSS de Base */
html {
    height: 100%;
    width: 100%;
}

body {
    height: inherit;
    width: inherit;
    padding-top: 53px;
    background-color: rgb(0,255,255);
    font-family: 'Roboto', sans-serif;
    color: rgb(0,0,0);
    overflow-x: hidden;
}

h1,
h2,
h3 {
    text-decoration: none;
    font-size-adjust: auto;
    font-weight: 500;
    font-family: 'Pathway Gothic One', sans-serif;
}

h1 {
    font-size: 50px;
    padding-bottom: 5px;
}

h2 {
    font-size: 40px;
    padding-bottom: 4px;
}

h3 {
    font-size: 30px;
    padding-bottom: 3px;
}

p {
    font-size: 14px;
}

hr {
    height: 1px;
    width: 10%;
    color: transparent;
    border-color: transparent;
    background: rgb(0,0,0);
}

strong {
    font: bold;
    color: #e7a60a;
}

.btn {
    border: 2px solid #AA3737;
    border-radius: 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #AA3737;
    padding: 7px;
    background-color: transparent;
}

.btn-lg {
    padding: 14px;
}

.btn:focus,
.btn:hover {
    background-color: #AA3737;
    color: rgb(255,255,255);
}

@media (min-width: 300px) {
    h1 {
        font-size: 80px;
        padding-bottom: 8px;
}

    h2 {
    font-size: 60px;
    padding-bottom: 6px;
}

    h3 {
        font-size: 40px;
        padding-bottom: 4px;
    }

    p {
        font-size: 16px;
    }

    .btn {
        font-size: 16px;
        padding: 8px;
    }

    .btn-lg {
        padding: 16px;
    }   
}

@media (min-width: 768px) {
    h1 {
        font-size: 100px;
        padding-bottom: 10px;
    }

    h2 {
        font-size: 75px;
        padding-bottom: 7px;
    }

    h3 {
        font-size: 50px;
        margin-bottom: 5px;
    }

    p {
        font-size: 20px
    }

    .btn {
        font-size: 20px;
        padding: 10px;
    }

    .btn-lg {
        padding: 20px;
    }
}

.hr-separator {
    height: 4px;
    width: 75%;
    background: rgb(0,0,0);
}

.light {
    font-weight: 300;
}

.padding-text {
    padding-left: 20px;
    padding-right: 20px;
}

/* Containers */
.cover img {
    padding-top: 16px;
    max-width: 80%;
    max-height: 120px;
}

.cover h1 {
    padding-bottom: 0px;
}

.cover p {
    padding: 0px 10px;
}

.cover .btn,
.cover .btn:focus {
    width: 80px;
    height: 56px;
    margin-top: 12px;
    border: 0px;
    border-radius: 10px;
    text-align: center;
    font-size: 32px;
    color: #f3bc37;
    background-color: transparent;
    margin-bottom: 20px;
}

.cover .btn:hover{
    border: 0px;
    color: #e7a60a;
    background-color: transparent;
}

@media (min-width: 300px) {
    .cover img {
        padding-top: 20px;
        max-width: 80%;
        max-height: 160px;
    }

    .cover p {
        font-size: 18px;
    }

    .cover .btn,
    .cover .btn:hover,
    .cover .btn:focus{
        width: 80px;
        height: 56px;
        margin-top: 12px;
        font-size: 32px;
    }
}

@media (min-width: 768px) {
    .cover img {
        padding-top: 10px;
        max-width: 80%;
        max-height: 200px;
    }

    .cover p {
        font-size: 24px;
    }

    .cover .btn,
    .cover .btn:hover,
    .cover .btn:focus{
        width: 100px;
        height: 70px;
        margin-top: 15px;
        font-size: 40px;
    }
}


/* Full height and Width Container */
.fhwc {
    display: table;
    height: 100%;
    width: 100%;
}

/* Full height and width container inner */
.fhwc-inner {
    display: table-cell;
    vertical-align: middle;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.shadowed {
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-o-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.shadowed-bottom {
    box-shadow: 0 8px 8px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .5);
	-o-box-shadow: 0 8px 8px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, .5);
}
/* Avec un fond vert */
.white-bg {
    background-color: rgb(255,255,255);
}

.gradient-white-bg {
    -webkit-background: linear-gradient(#ebebeb, #ffffff); /* For Safari 5.1 to 6.0 */
    -o-background: linear-gradient(#ebebeb, #ffffff); /* For Opera 11.1 to 12.0 */
    -moz-background: linear-gradient(#ebebeb, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ebebeb, #ffffff); /* Standard syntax */
}

.image-bg {
    background-color: rgb(170,57,57);
}

.green-bg {
    background-color: #00796B;
    color: rgb(255,255,255);
}

.green-bg hr{
    background: rgb(255,255,255);
    border-color: transparent;
}

.green-bg .btn {
    border: 2px solid rgb(255,255,255);
    color: rgb(255,255,255);    
}

.green-bg .btn:focus,
.green-bg .btn:hover {
    background-color: rgb(255,255,255);
    color: #00796B;
}

/* Avec un fond gris foncé */
.dark-grey-bg {
    background-color: rgb(39,39,39);
    color: rgb(255,255,255);
}

.dark-grey-bg hr{
    background: rgb(255,255,255);
    border-color: transparent;
}

.dark-grey-bg .btn {
    border: 2px solid rgb(255,255,255);
    color: rgb(255,255,255);    
}

.dark-grey-bg .btn:focus,
.dark-grey-bg .btn:hover {
    background-color: rgb(255,255,255);
    color: rgb(39,39,39);
}

/* Avec un fond gris */
.grey-bg {
    background-color: rgb(100,100,100);
    color: rgb(255,255,255);
}

.grey-bg .btn {
    border: 2px solid rgb(255,255,255);
    color: rgb(255,255,255);    
}

.grey-bg .btn:focus,
.grey-bg .btn:hover {
    background-color: rgb(255,255,255);
    color: rgb(39,39,39);
}


.brd-btm {
    border-bottom: 1px solid rgba(255,255,255,.3);
}
