.home-about-bg {
    
    background-position: center;
    background-size: cover;
}

.home-container {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}

.home-container-padding {
    padding: 60px 40px;
}

.home-container-inner {
    display: table-cell;
    vertical-align: middle;
    height:100%;
    margin-left: auto;
    margin-right: auto;
}

.home-container h3 {
    font-size: 40px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.home-container img {
    width: 80px;
    height: 80px;
    margin-bottom: 0px;
}

.home-container hr{
    width: 10%;
    height: 2px;
}

.home-container p {
    font-size: 14px;
}

.home-container .btn {
    margin-top: 20px;
}

.home-contact-container {
    width: 100%;
    height: auto;
    text-align: center;
}

.home-contact-container hr {
    width: 10%;
    height: 2px;
}

.home-contact-container h3 {
    font-size: 40px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.home-contact-container .btn {
    margin-top: 20px;
}

.about-row {
    display: table;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100%;
    text-align: center;
}

.vcenter {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.about-container {
    padding: 30px 20px;
    height: 100%;
}

.about-img {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.about-img-small {
    width: 40%;
    height: auto;
}

/*.home-about-container {
    display: table;
    height: 100%;
    width: 100%;
    background-color: rgb(255,255,255);
    background-image: url("../images/backgrounds/about-background.png");
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.home-about-row {
    display: table;
    height: inherit;
}

.home-about-col {
    float: none;
    height: inherit;
    display: table-cell;
    padding: 30px 20px;
    text-align: center;
    min-height: 100%;
    vertical-align: middle;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.home-about-image-container {
    float: none;
    height: inherit;
    display: table-cell;
    padding: 30px 20px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -o-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.home-about-image {
    max-width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.home-about-col p {
    text-align: justify;
    margin: 15px;
}

.home-about-col p + .btn {
    margin-top: 15px;
}

.row {
    display: table;
    height: 100%;
    width: 100%;
}*/